<!DOCTYPE html>
<html>
<head>
    <title>Smart Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=static_version) }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="sidebar">
    <h2>📚 Planner</h2>

    <a href="/">🏠 Input</a>
    <a href="/schedule">📅 Schedule</a>
    <a href="/progress">📊 Progress</a>
    <a href="/history">📁 History</a>
    <a href="/dashboard">📈 ML Dashboard</a>

    <div class="user-box">
        👤 {{ session.get('user') }}
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="main">
    {% block content %}{% endblock %}
</div>

</body>
</html>